body{ 
    background: hwb(204 88% 4%);  /* On met un fond clair pour créer un contraste avec la calculatrice */
    margin: 0; 
     /* Flexbox pour centrer la calculatrice */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
} 
 
h2 {   /* Style du titre pour qu’il soit visible sur fond sombre */
  color: #f5f1f0; /*Donner une couleur au titre */
  margin-bottom: 10px;  
} 
 
button{  /* Style des boutons */
    /* permet transforme le bouton en cercle */
    border-radius: 50%;
    width: 65px;
    height: 60px; 
    border: none;  
    font-size: 18px; /*permet de donner une taille au contenu de chaque bouton*/
    font-weight: bold; /*pour mettre en gras*/
    cursor: pointer; 
    color: black;
} 
 
.keys{ /* Organisation des boutons en grille */
    display: grid; 
    grid-template-columns: repeat(4,68px); 
    gap: 10px; 
} 
 
.calculator{  /* Style global de la calculatrice */
    font-family: Calibri, Bebas Neu; /* choisir l'ecriture soit l'une ou l'autre*/
    font-size: 20px;/*pour donner une dimension à l'ecriture*/
    text-align: center; /*Centrer le texte*/
    background: hsl(0, 0%, 15%);  /* Fond sombre pour améliorer la lisibilité */
    border-radius: 20px; /*arrondir les bordure pour donner plus de style*/
    width: 300px; /*Pour la largeur de la calculatrice*/
    padding: 40px; /*Pour la hauteur*/
    
} 
 
#display{ 
    width: 88%; /*pour ajuster la largeur du diplay*/
    background: hsl(0, 25%, 98%); /*pour donner une couleur à l'arrière plan pour que le contenu soit lisible*/
    border-radius: 8px; /*arrondir les bordure*/
    border-color:rgb(6, 2, 85); /*pour donner une couleur au contour*/ 
    padding: 10px; /*on l'utilise pour ajouter de l'espace à l'interieur*/
    text-align: right; /*lorsque qu'on tape une calcul, elle sort de la droite vers la gauche*/ 
    margin-bottom: 15px; /*utilisé pour ajouter de l'espace en dessous de l'element*/
    font-size: 3rem; /*la taille de l'ecriture sur l'ecran*/
    color: black; /*la couleur du texte*/
    overflow: hidden; /*empecher aux chiffres de depasser l'ecran pour garder une interface propre et lisible*/
} 
 
button:hover{ /* Effet au survol */
    background: hsl(0, 0%, 64%); 
} 
 
button:active{ /* pour donner une couleur au bouton*/
    background: hsl(0, 0%, 37%); 
} 
 
.operator-btn{  /* Couleur des opérateurs pour les différencier */
    background: hsl(195, 84%, 63%); 
} 
 
.operator-btn:hover{  /* Effet hover pour opérateurs */
background: rgb(3, 86, 174); 
} 
 
.equal-btn{  /* Bouton égal plus large pour le mettre en évidence */
    padding: 15px; 
    border-radius: 100%;  
    background-color: rgb(4, 20, 75); 
    color: white;
    font-size: 20px;
} 
 
.equal-btn:hover{ /* Effet au clic */
    background: rgb(5, 61, 241); 
}
